.head_style {
    text-align: center;
    margin-bottom: 20px;
}

.search-container {
    margin-top: 20px;
}

.thesis-list {
    margin-top: 20px;
}

.thesis-item {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
}

.thesis-item h2 {
    margin-bottom: 5px;
}

.thesis-details {
    background-color: #f0f0f0;
    padding: 10px;
    margin-top: 5px;
}

.thesis-details p {
    margin-bottom: 5px;
}
