<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
</head>
<body>
    <h1>Thesis Blog</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
        Odit dolorum sit at ex reiciendis quod excepturi alias id quos placeat libero esse veritatis eligendi repellendus quae nostrum, aliquid explicabo nisi!</p>
    <button onclick="window.location.href='/thesis/'">View Thesis List</button>
</body>
</html>
