{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thesis List</title>
    <link rel="stylesheet" href="{% static 'css/style_list.css' %}">
</head>
<body>
    <div class="head_style">
        <h1>Thesis List</h1>
        <div class="search-container">
            <form action="{% url 'thesis_search' %}" method="get" onsubmit="return validateSearch()">
                <input type="text" name="q" placeholder="Search Keywords" value="{{ request.GET.q }}">
                <button type="submit">Search</button>
            </form>
        </div>
    </div>
    
    <div class="thesis-list">
        {% if theses %}
            {% for thesis in theses %}
                <div class="thesis-item">
                    <h2><a href="{% url 'thesis_detail' thesis.id %}">{{ thesis.title }}</a></h2>
                    <p>Published: {{ thesis.published_date }}</p>
                    <p>keywords: {{thesis.keywords}}</p>
                </div>
            {% endfor %}
        {% else %}
            <p>No results found.</p>
        {% endif %}
    </div>

    <script>
        function validateSearch() {
            // You can add additional validation logic here if needed
            return true; // Return true to submit the form
        }

        function showDetails(id) {
            var detailsDiv = document.getElementById('details_' + id);
            if (detailsDiv.style.display === 'none') {
                detailsDiv.style.display = 'block';
            } else {
                detailsDiv.style.display = 'none';
            }
        }
    </script>
</body>
</html>
