{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thesis List</title>
    <link rel="stylesheet" href="{% static 'css/style_base.css' %}">
</head>
<body>
    <div class="head_style">
        <h1>Thesis List</h1>
        <div class="search-container">
            <form action="{% url 'thesis_search' %}" method="get" onsubmit="return validateSearch()">
                <input type="text" name="q" placeholder="Search Keywords" value="{{ request.GET.q }}">
                <button type="submit">Search</button>
            </form>
        </div>
    </div>

    <!-- Display Existing Data -->
    {% if not request.GET.q and existing_data %}
    <div class="existing-data">
        <h2>Thesis List</h2>
        {% for thesis in existing_data %}
            <div class="thesis-item">
                <h2><a href="{%url 'thesis_details' thesis.id%}">{{ thesis.title }}</a></h2>
                <p>Abstract: {{thesis.abstract }}</p>
                <p>Published: {{ thesis.published_date }}</p>
                <p>Keywords: {{ thesis.keywords }}</p>
            </div>
        {% endfor %}
    </div>
    {% endif %}

    <!-- Search  -->
    {% if search_query %}
    <div class="search-results">
        <h2>Search Results for "{{ search_query }}"</h2>
        {% if theses %}
            {% for thesis in theses %}
                <div class="thesis-item">
                    <h2><a href="{%url 'thesis_details' thesis.id%}">{{ thesis.title }}</a></h2>
                    <p>Published: {{ thesis.published_date }}</p>
                    <p>Keywords: {{ thesis.keywords }}</p>
                </div>
            {% endfor %}
        {% else %}
            <p>No results found.</p>
        {% endif %}
    </div>
    {% endif %}
</body>
</html>
