{% extends 'base.html' %}

{% block title %}{{ thesis.title }} - Thesis Detail{% endblock %}

{% block content %}
<div class="thesis-detail">
    <h1 class="thesis-title">{{ thesis.title }}</h1>
    <div class="thesis-info">
        <p class="author"><strong>Authors:</strong> {{ thesis.authors }}</p>
        <p class="abstract"><strong>Abstract:</strong> {{ thesis.abstract }}</p>
        <p class="body"><strong>body:</strong> {{ thesis.body }}</p>
        <p class="panelist"><strong>Panelist:</strong> {{ thesis.panelist }}</p>
        <p class="advisor"><strong>Advisors:</strong> {{ thesis.advisors }}</p>
        <p class="defense-date"><strong>Defense Date:</strong> {{ thesis.defense_date }}</p>
        <p class="published-date"><strong>Published Date:</strong> {{ thesis.published_date }}</p>
        <p class="keywords"><strong>Keywords:</strong> {{ thesis.keywords }}</p>
        <p class="status"><strong>Status:</strong> {{ thesis.get_status_display }}</p>
    </div>
</div>

<div class="comment-section">
    <h2 class="comment-heading">Comments</h2>
    <div class="comments">

    </div>
</div>

<div class="return">
    <a href="/thesis">Return to Thesis List</a>
</div>
{% endblock %}
